@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&family=Jura:wght@300&family=Orbitron&family=Russo+One&family=Space+Mono&display=swap');

$fontColour: #E1E3E5;
$mainFont: Tahoma, Verdana, sans-serif;
$navFont: 'Chakra Petch', sans-serif;
$headerFont: 'Space Mono', monospace;
$navFontSize: 1.6em;
$bgColour: linear-gradient(rgb(243, 55, 55), rgb(26, 26, 26));
$newBgColour: #212531;
$secBgColour: #2a2e3b;
$layerBgColour: white;